SECRET_KEY=django_secret_key
DEBUG=debug_settings
DB_NAME=db_name
DB_USER=db_user_name
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port
EMAIL_HOST=email_host_server
EMAIL_PORT=email_port
EMAIL_HOST_USER=email_host_user (your email)
EMAIL_HOST_PASSWORD=email_host_pass (your gmail app server password)
EMAIL_USE_TLS=email_tls